* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    width: 300px;
    padding: 10px 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.header-bg {
    background-color: #1f2937;
}

.hero-bg {
    background-color: #1f2937;
}

.quote-bg {
    background-color:#e5e7eb;
}

.header {
    color: #fff;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 26px;
    font-weight: bold;
}

.header ul {
    display: flex;
}

.header ul li {
    margin-left: 10px;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    line-height: 1.2;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
}

.hero-btn {
    background-color: #3882f6;
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: .75em;
    font-weight: bold;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cards-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.box {
    height: 100px;
    width: 100px;
    border: 2px solid #3882f6;
    border-radius: .5em;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 110px;
    text-align: center;
    margin: 20px 40px;
}

.quote {
    padding: 3em 0;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote figcaption {
    float: right;
}

.cta-bg {
    clear: both;
    min-height: 60px;
    padding: 2.5em;
    background-color: #3882f6;
    color: #fff;
    display: flex;
    justify-content: space-around;;
    align-items: center;
    margin: 40px 0;
}

.cta-title {
    font-size: 24px;
}

.cta-text {
    font-size: 18px;
}

.cta-btn {
    border: 2px #fff solid;
    padding: 0.5em 1.25em;
    border-radius: 10px;
    font-weight: bold;
}

.footer {
    background-color: #1f2937;
    color: #fff;
    padding: 20px;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}